<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/community.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/community.js"></script>
    <script src="/js/moment.js"></script>
</head>

</html>